body {
  background: #0e0e0e81;
}

#grid {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .cellContainer {
  display: flex;
  width: 12%;
  height: 6vh;
  border: 1px solid #fff;
  border-radius: 5px;
}

.jogadores {
  width: 25%;
}

main div#players {
  height: 7vh;
  columns: 100px 2;
  column-rule: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

main div#players div {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
}

main div#players div.jogadorAtual {
  animation: playerTurn 300ms 200ms 3;
  font-weight: bold;
}

main div#players div.jogadorAtual span {
  animation: playerTurnSpan 300ms 200ms 3;
  border-bottom: 1px solid #fff;
}

/* Podemos mudar isso, claro, mas é só para idenficação, atualmente */
@keyframes playerTurn {
  0% {
    color: #fff;
  }
  100% {
    color: red;
  }
}

@keyframes playerTurnSpan {
  0% {
    border: none;
  }

  100% {
    border-bottom: 1px solid #fff;
  }
}

@media (min-width: 640px) {
  .row .cellContainer {
    width: 4%;
    height: 7vh;
  }

  #players {
    width: 40%;
    margin: 0 auto;
  }
}
